@using Umbraco.Cms.Api.Management.ViewModels.Media.Item
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{

}

<div class="footer-container">
    <div class="footer-wrapper text-rte-s font-regular">
        <p class="text-body">© Onatrix. All Rights Reserved. Credits to</p>
        <p class="text-sub-3">Themesflat</p>
    </div>
</div>