<?xml version="1.0" encoding="utf-8"?>
<Content Key="74908109-f577-4cf8-a2f3-5fa2e301b4ba" Alias="Contact" Level="2">
  <Info>
    <Parent Key="de7ab0f8-77c7-476d-802f-6aaca0fff6a3">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-21T11:55:09</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07855ef3-824c-4b18-bbaa-905a35a8dff5">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "68947581-7e06-4cef-9a85-8b9cc2366a45",
      "key": "6996906d-3082-4a02-94c6-993024b166f5",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "4f03bea4-03fc-490b-8385-7d5db4f200c5",
              "mediaKey": "9e90ab80-748a-4976-ac7e-58c8c81fac24",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactOfficeIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3dac9ee0-cc84-4ae6-814d-6df93a52fea5",
              "mediaKey": "c25f13fa-589f-49e7-a631-fd3291be7a42",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactPhoneIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "815572d9-650f-4f74-b80e-a31a3e2b81b1",
              "mediaKey": "6d04a12c-2f4b-4e1a-b5c4-0ba17c276f67",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactEmailIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "284c4f24-2c15-4fba-a3c6-498e5bd2441b",
              "mediaKey": "3a2b59fa-844c-4af3-a3aa-39305a77055b",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "fa35e928-a270-44f9-b8ee-3ea5612b625c",
      "key": "d7c2c6cc-4f1e-4e5d-a613-41f1e2e8e9da",
      "udi": null,
      "values": [
        {
          "alias": "partnersList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "e0cf1ac4-4e45-4bde-a167-4ef141fb31a5",
                "key": "1770ba07-64a5-4a11-bb79-a96e1966f02b",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "11620342-f72e-4e6e-91bb-2c3ef5c24008",
                        "mediaKey": "c4fa4be3-2647-44d0-ac07-9aaa8064293e",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "e0cf1ac4-4e45-4bde-a167-4ef141fb31a5",
                "key": "9d140711-a1fb-4910-92d5-3e4181d75905",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "923b3b38-29b9-4f60-872e-e7e60390b5e7",
                        "mediaKey": "7699f7c1-7a16-43ab-9a36-d476cc074bbf",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "e0cf1ac4-4e45-4bde-a167-4ef141fb31a5",
                "key": "43a8bd0f-dac4-4d36-8248-5ef897f838c4",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ea9fb6e3-b8e1-41b3-ad98-201644e15727",
                        "mediaKey": "1d7d2b12-afd2-4645-8659-5c6a4836ba0d",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "e0cf1ac4-4e45-4bde-a167-4ef141fb31a5",
                "key": "dc5abf28-09aa-481b-bc48-cd27e23a8d08",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c9dffbd9-6d31-47ef-ae31-401c0f874c93",
                        "mediaKey": "d6aa9cd5-4b2e-4037-b0ac-9f35c7455dbb",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "e0cf1ac4-4e45-4bde-a167-4ef141fb31a5",
                "key": "ed001b96-cf05-4dba-8596-be6ddf40ca3c",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f0aad547-f6aa-45f9-9442-9761dedad1db",
                        "mediaKey": "68e68591-bba7-4ef2-b04c-3eb300320da2",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "e0cf1ac4-4e45-4bde-a167-4ef141fb31a5",
                "key": "e46dd275-662e-4b1c-a89b-52330ca9c85d",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "7be6e59d-d7e5-4492-98b0-733cdeb57751",
                        "mediaKey": "b04b664d-a7c1-426d-abe5-9a6c882fa78e",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "1770ba07-64a5-4a11-bb79-a96e1966f02b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "9d140711-a1fb-4910-92d5-3e4181d75905",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "43a8bd0f-dac4-4d36-8248-5ef897f838c4",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "dc5abf28-09aa-481b-bc48-cd27e23a8d08",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ed001b96-cf05-4dba-8596-be6ddf40ca3c",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e46dd275-662e-4b1c-a89b-52330ca9c85d",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "e46dd275-662e-4b1c-a89b-52330ca9c85d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ed001b96-cf05-4dba-8596-be6ddf40ca3c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "dc5abf28-09aa-481b-bc48-cd27e23a8d08",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "43a8bd0f-dac4-4d36-8248-5ef897f838c4",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "9d140711-a1fb-4910-92d5-3e4181d75905",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "1770ba07-64a5-4a11-bb79-a96e1966f02b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "834a2293-e3e8-4bad-ae7c-421af2838671",
      "key": "b04534fa-96c2-4206-a8c6-64ee3b2ef822",
      "udi": null,
      "values": [
        {
          "alias": "contactCallbackLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "REQUEST A CALL BACK"
        },
        {
          "alias": "contactCallbackTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactCallbackFormDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-regular\u0022 style=\u0022text-align: center;\u0022\u003E\u003Cem\u003E\u003Cspan class=\u0022text-body\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus\u003C/span\u003E\u003C/em\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactCallbackBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ed210484-5d78-43a1-9889-90296d5d8680",
              "mediaKey": "f7a3c238-7bce-4503-abf3-b01d0ed6719b",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactCallbackLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Submit",
              "target": null,
              "udi": "umb://document/74908109f5774cf8a2f35fa2e301b4ba",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "338b3ce4-84b9-41ec-a68b-ac62e0d0bea7",
      "key": "b47f9c91-f764-49a7-a351-4dfaf3a4b152",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "6996906d-3082-4a02-94c6-993024b166f5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d7c2c6cc-4f1e-4e5d-a613-41f1e2e8e9da",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b04534fa-96c2-4206-a8c6-64ee3b2ef822",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "6996906d-3082-4a02-94c6-993024b166f5",
        "contentUdi": null,
        "settingsKey": "b47f9c91-f764-49a7-a351-4dfaf3a4b152",
        "settingsUdi": null
      },
      {
        "contentKey": "b04534fa-96c2-4206-a8c6-64ee3b2ef822",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "d7c2c6cc-4f1e-4e5d-a613-41f1e2e8e9da",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>