<?xml version="1.0" encoding="utf-8"?>
<Content Key="1de8947e-ab1f-4516-8dc7-e718652ba40e" Alias="Services" Level="2">
  <Info>
    <Parent Key="de7ab0f8-77c7-476d-802f-6aaca0fff6a3">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-26T10:34:02</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="efc61d7a-1506-4ee5-ad8c-3adc662900c2">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3a8e28dc-8991-48cc-b7f6-82337904796e",
      "key": "28a69a5e-b86c-46e2-b06c-30ec71f71bd8",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "servicePaging",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "68947581-7e06-4cef-9a85-8b9cc2366a45",
      "key": "6a3e09f3-3d7d-441c-bb9b-3c2acac607fe",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f54256ae-8bb5-4530-81c4-ad29831d4a8a",
              "mediaKey": "9e90ab80-748a-4976-ac7e-58c8c81fac24",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about you next project"
        },
        {
          "alias": "contactOfficeIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "96c102f4-6d94-49a5-8c6d-7456b43136f1",
              "mediaKey": "c25f13fa-589f-49e7-a631-fd3291be7a42",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactPhoneIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "028be502-9a84-49e4-b748-530406671626",
              "mediaKey": "6d04a12c-2f4b-4e1a-b5c4-0ba17c276f67",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactEmailIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7e5bb737-66ad-4dff-aea7-b4bd295f17e9",
              "mediaKey": "3a2b59fa-844c-4af3-a3aa-39305a77055b",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "b61b8436-8cc6-43d6-8a24-adb9d7fc0f70",
      "key": "744ae153-0bbf-470b-92dc-191e89c36536",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showServicePaging",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "338b3ce4-84b9-41ec-a68b-ac62e0d0bea7",
      "key": "64b107c1-e33c-44fb-b83f-13e633b77628",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "28a69a5e-b86c-46e2-b06c-30ec71f71bd8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6a3e09f3-3d7d-441c-bb9b-3c2acac607fe",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "28a69a5e-b86c-46e2-b06c-30ec71f71bd8",
        "contentUdi": null,
        "settingsKey": "744ae153-0bbf-470b-92dc-191e89c36536",
        "settingsUdi": null
      },
      {
        "contentKey": "6a3e09f3-3d7d-441c-bb9b-3c2acac607fe",
        "contentUdi": null,
        "settingsKey": "64b107c1-e33c-44fb-b83f-13e633b77628",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>