<?xml version="1.0" encoding="utf-8"?>
<Content Key="35636a57-7e73-4d61-9766-50c23a8bb135" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-29T15:03:14</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7094c9b1-4d10-432e-a991-92138b9ce6df",
      "key": "fcf13cb2-d388-4cfb-b869-ba8c0245a813",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "7094c9b1-4d10-432e-a991-92138b9ce6df",
      "key": "c839ce99-c701-4343-b8c6-e2478c22de94",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://x.com"
        }
      ]
    },
    {
      "contentTypeKey": "7094c9b1-4d10-432e-a991-92138b9ce6df",
      "key": "0cd165b6-0463-4123-bd20-0cfbae807f4d",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Linkedin"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "fcf13cb2-d388-4cfb-b869-ba8c0245a813",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c839ce99-c701-4343-b8c6-e2478c22de94",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0cd165b6-0463-4123-bd20-0cfbae807f4d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "fcf13cb2-d388-4cfb-b869-ba8c0245a813",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "c839ce99-c701-4343-b8c6-e2478c22de94",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "0cd165b6-0463-4123-bd20-0cfbae807f4d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "d22ba4fd-edd0-49ce-9073-69301cc90828",
    "mediaKey": "cffdd642-4b45-459f-adf5-70437c880eb3",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>