<?xml version="1.0" encoding="utf-8"?>
<Content Key="7522d350-c64d-4142-963d-e57482b62101" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="1de8947e-ab1f-4516-8dc7-e718652ba40e">Services</Parent>
    <Path>/Home/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-03T13:39:00</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="88091c3a-97f1-4a25-92ae-08e7db1d20f0">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailsAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailsAsides>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "95315d80-be55-4aed-94fb-231c98d24af2",
    "mediaKey": "15915f94-e2e8-4144-b70d-90e0980fe621",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>