<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6d3c722-ac5c-4b5b-9724-cfadfd649695" Alias="Aaron-Lambert.svg" Level="2">
  <Info>
    <Parent Key="2da78489-dff9-4622-ae93-39a75f5bf891">Team Members</Parent>
    <Path>/TeamMembers/AaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T11:06:27</CreateDate>
    <NodeName Default="Aaron-Lambert.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0b3hcrch/aaron-lambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>