<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6a92700-60a2-4dbf-8f6c-2c9ee946786a" Alias="About-Tina-Fox.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutTinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:57:50</CreateDate>
    <NodeName Default="About-Tina-Fox.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4knawjfz/about-tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>