<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad1393ab-c27f-4200-8ff5-f9b01b99e49b" Alias="AJ-Carter.svg" Level="2">
  <Info>
    <Parent Key="2da78489-dff9-4622-ae93-39a75f5bf891">Team Members</Parent>
    <Path>/TeamMembers/AJCartersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T11:06:27</CreateDate>
    <NodeName Default="AJ-Carter.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lexlct1e/aj-carter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>