<?xml version="1.0" encoding="utf-8"?>
<Media Key="f41d9250-90c4-42b8-aca4-95e7a03671d9" Alias="Brandon-Newton.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BrandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T09:32:52</CreateDate>
    <NodeName Default="Brandon-Newton.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uixl4fw5/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>