<?xml version="1.0" encoding="utf-8"?>
<Media Key="48406b3d-80ba-4581-b454-8d276922f5b0" Alias="Brandon-Newton.svg" Level="2">
  <Info>
    <Parent Key="2da78489-dff9-4622-ae93-39a75f5bf891">Team Members</Parent>
    <Path>/TeamMembers/BrandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T09:33:36</CreateDate>
    <NodeName Default="Brandon-Newton.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z5lofkvb/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>