<?xml version="1.0" encoding="utf-8"?>
<Media Key="cffdd642-4b45-459f-adf5-70437c880eb3" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T15:00:37</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wbvf4lk4/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>