<?xml version="1.0" encoding="utf-8"?>
<Media Key="38067959-0c44-4b69-ba09-3e96cabb3edc" Alias="Brandon-Kerr.svg" Level="2">
  <Info>
    <Parent Key="2da78489-dff9-4622-ae93-39a75f5bf891">Team Members</Parent>
    <Path>/TeamMembers/BrandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T11:06:27</CreateDate>
    <NodeName Default="Brandon-Kerr.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vpckjws5/brandon-kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>