<?xml version="1.0" encoding="utf-8"?>
<Media Key="d21cc1b9-af6e-4064-a663-71737ab538ec" Alias="Contact-BgImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactBgImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T14:59:10</CreateDate>
    <NodeName Default="Contact-BgImage.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jn4l2mdv/contact-bgimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>