<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e90ab80-748a-4976-ac7e-58c8c81fac24" Alias="Contact-Image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T14:59:11</CreateDate>
    <NodeName Default="Contact-Image.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oilde5er/contact-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>