<?xml version="1.0" encoding="utf-8"?>
<Media Key="99b7a520-4b6a-41c2-b4bb-7eedc25f8314" Alias="Home-Hero.svg (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeHerosvg2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-26T13:57:44</CreateDate>
    <NodeName Default="Home-Hero.svg (2)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0imbk41r/home-hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>