<?xml version="1.0" encoding="utf-8"?>
<Media Key="88c746d3-f184-45c3-9690-0a90f3bb24cb" Alias="Home-Hero.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeHerosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-20T12:35:56</CreateDate>
    <NodeName Default="Home-Hero.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eh3hk0u5/home-hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>