<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2645b8a-29a8-43d9-80fd-7b5e1b324d57" Alias="Home-Hero.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeHerosvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-20T12:36:23</CreateDate>
    <NodeName Default="Home-Hero.svg (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pdtmmqft/home-hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>