<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a2b59fa-844c-4af3-a3aa-39305a77055b" Alias="Icon-email.svg" Level="2">
  <Info>
    <Parent Key="338ae691-75d4-4a66-a8d0-00aca3326331">Icons</Parent>
    <Path>/Icons/IconEmailsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T15:13:17</CreateDate>
    <NodeName Default="Icon-email.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bdsitwcx/icon-email.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>