<?xml version="1.0" encoding="utf-8"?>
<Media Key="c25f13fa-589f-49e7-a631-fd3291be7a42" Alias="Icon-address.svg" Level="2">
  <Info>
    <Parent Key="338ae691-75d4-4a66-a8d0-00aca3326331">Icons</Parent>
    <Path>/Icons/IconAddresssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T15:13:15</CreateDate>
    <NodeName Default="Icon-address.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bcxp0iee/icon-address.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>