<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d04a12c-2f4b-4e1a-b5c4-0ba17c276f67" Alias="Icon-phone.svg" Level="2">
  <Info>
    <Parent Key="338ae691-75d4-4a66-a8d0-00aca3326331">Icons</Parent>
    <Path>/Icons/IconPhonesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T15:13:18</CreateDate>
    <NodeName Default="Icon-phone.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1yoknd0q/icon-phone.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>