<?xml version="1.0" encoding="utf-8"?>
<Media Key="837d06ba-27ba-4a8b-b7bc-2ad7e2cf060a" Alias="Icon-email-widget.svg" Level="2">
  <Info>
    <Parent Key="338ae691-75d4-4a66-a8d0-00aca3326331">Icons</Parent>
    <Path>/Icons/IconEmailWidgetsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T12:51:10</CreateDate>
    <NodeName Default="Icon-email-widget.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jc3n4ynb/icon-email-widget.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>