<?xml version="1.0" encoding="utf-8"?>
<Media Key="338ae691-75d4-4a66-a8d0-00aca3326331" Alias="Icons" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Icons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-12T15:13:02</CreateDate>
    <NodeName Default="Icons" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties />
</Media>