<?xml version="1.0" encoding="utf-8"?>
<Media Key="e7df387f-947f-4df9-8345-39b193788f6d" Alias="Kevin-Gardner.svg" Level="2">
  <Info>
    <Parent Key="2da78489-dff9-4622-ae93-39a75f5bf891">Team Members</Parent>
    <Path>/TeamMembers/KevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T11:06:27</CreateDate>
    <NodeName Default="Kevin-Gardner.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rwch0ble/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>