<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7a3c238-7bce-4503-abf3-b01d0ed6719b" Alias="map-background.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/mapBackgroundsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T14:44:56</CreateDate>
    <NodeName Default="map-background.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zj5bcfov/map-background.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>