<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d7d2b12-afd2-4645-8659-5c6a4836ba0d" Alias="partner-04.svg" Level="2">
  <Info>
    <Parent Key="3c2e257e-5717-494f-b0ad-40a71cec7c8c">Partners</Parent>
    <Path>/Partners/partner04svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T18:17:35</CreateDate>
    <NodeName Default="partner-04.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2cln554j/partner-04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>