<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4fa4be3-2647-44d0-ac07-9aaa8064293e" Alias="partner-06.svg" Level="2">
  <Info>
    <Parent Key="3c2e257e-5717-494f-b0ad-40a71cec7c8c">Partners</Parent>
    <Path>/Partners/partner06svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T18:17:35</CreateDate>
    <NodeName Default="partner-06.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ch1fqjs2/partner-06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>