<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c2e257e-5717-494f-b0ad-40a71cec7c8c" Alias="Partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-11T18:17:17</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties />
</Media>