<?xml version="1.0" encoding="utf-8"?>
<Media Key="68e68591-bba7-4ef2-b04c-3eb300320da2" Alias="partner-02.svg" Level="2">
  <Info>
    <Parent Key="3c2e257e-5717-494f-b0ad-40a71cec7c8c">Partners</Parent>
    <Path>/Partners/partner02svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T18:17:35</CreateDate>
    <NodeName Default="partner-02.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mm2ejcv2/partner-02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>