<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6aa9cd5-4b2e-4037-b0ac-9f35c7455dbb" Alias="partner-03.svg" Level="2">
  <Info>
    <Parent Key="3c2e257e-5717-494f-b0ad-40a71cec7c8c">Partners</Parent>
    <Path>/Partners/partner03svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T18:17:36</CreateDate>
    <NodeName Default="partner-03.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/e2qbqnbv/partner-03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>