<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce7f1f8a-8c29-4eba-b9a9-f46cf9a45220" Alias="Rating-stars.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RatingStarssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T13:32:35</CreateDate>
    <NodeName Default="Rating-stars.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pcrn0lbs/rating-stars.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>