<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec3761ba-e21b-40e5-a14b-8f1baf35d57c" Alias="risk-big-2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/riskBig2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T14:22:30</CreateDate>
    <NodeName Default="risk-big-2.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jdojkdqa/risk-big-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>