<?xml version="1.0" encoding="utf-8"?>
<Media Key="6aebcb0a-cb74-42ae-8732-4ddff7747571" Alias="risk-big-1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/riskBig1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T14:22:31</CreateDate>
    <NodeName Default="risk-big-1.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5b1etcdp/risk-big-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>