<?xml version="1.0" encoding="utf-8"?>
<Media Key="591cd3a4-52d5-4b8c-b23c-9cc6c861e027" Alias="Services Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-03T13:35:27</CreateDate>
    <NodeName Default="Services Thumbnails" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>