<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ed160fc-7aa4-40ae-b65f-887929bb4a20" Alias="Service-Financial.svg" Level="2">
  <Info>
    <Parent Key="591cd3a4-52d5-4b8c-b23c-9cc6c861e027">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/ServiceFinancialsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T13:38:21</CreateDate>
    <NodeName Default="Service-Financial.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b1ohhtf5/service-financial.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>