<?xml version="1.0" encoding="utf-8"?>
<Media Key="df4162eb-4657-4b16-b1b1-0bfb8f629800" Alias="Service-Assurance.svg" Level="2">
  <Info>
    <Parent Key="591cd3a4-52d5-4b8c-b23c-9cc6c861e027">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/ServiceAssurancesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T13:38:21</CreateDate>
    <NodeName Default="Service-Assurance.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dhppgpkm/service-assurance.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>