<?xml version="1.0" encoding="utf-8"?>
<Media Key="fdc66e14-9de5-4e1c-bc74-b822f854dfce" Alias="Service-Bonds.svg" Level="2">
  <Info>
    <Parent Key="591cd3a4-52d5-4b8c-b23c-9cc6c861e027">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/ServiceBondssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T13:38:21</CreateDate>
    <NodeName Default="Service-Bonds.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/21jhih54/service-bonds.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>