<?xml version="1.0" encoding="utf-8"?>
<Media Key="80c723c4-f76b-49b8-ac90-8b4c90b11b33" Alias="Signature-Tina.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SignatureTinasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T15:12:39</CreateDate>
    <NodeName Default="Signature-Tina.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/g0pgkytq/signature-tina.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>