<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d8e9cfe-08d0-47a0-bfef-6b40de77eb8a" Alias="success-image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/successImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T15:03:26</CreateDate>
    <NodeName Default="success-image.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bqqdz54l/success-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>