<?xml version="1.0" encoding="utf-8"?>
<Media Key="2da78489-dff9-4622-ae93-39a75f5bf891" Alias="Team Members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-27T09:33:28</CreateDate>
    <NodeName Default="Team Members" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>