<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ea6e132-43a5-497c-97d8-b890018f87d5" Alias="Tina-Fox.svg" Level="2">
  <Info>
    <Parent Key="2da78489-dff9-4622-ae93-39a75f5bf891">Team Members</Parent>
    <Path>/TeamMembers/TinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T11:06:27</CreateDate>
    <NodeName Default="Tina-Fox.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yboai1f4/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>