<?xml version="1.0" encoding="utf-8"?>
<Media Key="37e48c72-037e-4358-9cc5-f84a9c1fcea5" Alias="trusted-people.svg" Level="2">
  <Info>
    <Parent Key="3f551ffc-183c-4f15-a2ca-5c52319b319f">Trusted Section</Parent>
    <Path>/TrustedSection/trustedPeoplesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T19:15:15</CreateDate>
    <NodeName Default="trusted-people.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qayfnvlf/trusted-people.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>