<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f551ffc-183c-4f15-a2ca-5c52319b319f" Alias="Trusted Section" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TrustedSection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-10T19:14:46</CreateDate>
    <NodeName Default="Trusted Section" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>