<?xml version="1.0" encoding="utf-8"?>
<Media Key="094cf8c1-3fcb-4b73-ae50-a487bf32d98f" Alias="trusted-bg.svg" Level="2">
  <Info>
    <Parent Key="3f551ffc-183c-4f15-a2ca-5c52319b319f">Trusted Section</Parent>
    <Path>/TrustedSection/trustedBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T19:15:14</CreateDate>
    <NodeName Default="trusted-bg.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gncp304q/trusted-bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>