@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    text-decoration: none;
    padding: 0rem;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {

    overflow-x: hidden;
}


:root {
    --color-white: #ffffff;
    --color-main: #4F5955;
    --color-sub-3: #D9C3A9;
    --color-sub-1: #F2EDDC;
    --color-text-body: #535656;
    --color-note-1: #9C9EA6;
    --color-white-100: #F7F7F7;
    --color-footer-black: #0E0E0E;
    --color-border-gray: #EAEAEA;
    --color-gray-400: #4B5264;
    --color-star: #333333;
    --color-gray-600: #2D303A;
    --color-dimmed-border: #ffffff19;

}

/*---Richtext Start---*/

.text-white {
    color: #ffffff;
}

.text-main {
    color: #4F5955;
}

.text-sub-3 {
    color: #D9C3A9;
}

.text-sub-1 {
    color: #F2EDDC;
}

.text-body {
    color: #535656;
}

.text-note-1 {
    color: #9C9EA6;
}

.text-white-100 {
    color: #F7F7F7;
}

.text-footer-black {
    color: #0E0E0E;
}

.text-border-gray {
    color: #EAEAEA;
}

.text-gray-400 {
    color: #4B5264;
}

.text-star {
    color: #333333;
}

.text-gray-600 {
    color: #2D303A;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-bold {
    font-weight: 700;
}

.text-rte-xl {
    font-size: 4.375rem;
}

.text-rte-l {
    font-size: 2.5rem;
/*    margin-bottom: 2rem;*/
}

.text-rte-m {
    font-size: 1.25rem;   
/*    margin-bottom: 1rem;*/
}

.text-rte-s {
    font-size: 1rem;
}

.text-rte-xs {
    font-size: 0.875rem;
}

.rte-ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-top: 1rem;
    display: list-item;
    overflow: hidden;
}

.rte-ul li {
    margin-bottom: 0.25rem;
}

.rte-ul li::marker {
    color: var(--color-sub-3);
}


/*---Richtext End---*/

/*li {
    list-style-position: outside;
    overflow: hidden;
}*/


.pt-1 {
    padding-top: 2rem;
}

p img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*text-rte-m img {
    width: 100%;
    height: auto;
    object-fit: cover;
}*/

ul {
   list-style: none;
}

h3 {
    font-size: 2.5rem;
    color: var(--color-main);
    font-weight: 700;
}

.body-text p {
    color: var(--color-text-body);
    font-size: 14px;
    font-weight: 400;
}

.topbar-container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 0 20rem;
    background-color: var(--color-main);
}

.topbar-icon-container {
    display: flex;
}

.topbar-icon {
    display: flex;
    justify-items: center;
    align-items: center;
    border-left: 1px solid var(--color-dimmed-border);
    padding: 1rem 1rem;
    border-right: 1px solid var(--color-dimmed-border);
    height: 100%;
}


.header-items-container {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 6rem;
    overflow: hidden;
    list-style: none;
    padding: 1.5rem 0;
    
}

.header-items-container li.current .header-items {
    color: var(--color-sub-3);
}

.header-items {
    color: var(--color-main);
    transition: color 0.3s ease;
    
}

.header-items:hover {
    color: var(--color-sub-3);
    
}

.header-dimensions {
    display: grid;
    grid-template-columns: 1fr 2fr auto;
    align-items: center;
    padding: 0 20rem;
}


.page-banner {
    background-color: var(--color-white-100);
    background-repeat: no-repeat;
    padding: 3rem 3rem 5rem 3rem;
    background-image: url('../images/Rectangle-Left.svg'), url('../images/Rectangle-Right.svg');
    background-position: left bottom, top right;
}

.page-banner-container-t {
    margin-inline: auto;  
}

.banner-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-main);
    
}

.breadcrumb-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0 0;
    
}

.breadcrumb {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    font-size: 14px;
}

.breadcrumb-text-1 {
    color: var(--color-main);
}

.breadcrumb-active {
    color: var(--color-sub-3);
}

.breadcrumb-text-container {
    display: flex;
    gap: 1rem; 
}

.content-border {
    border-left: 1px solid var(--color-border-gray);
    padding: 0 1rem;
    margin-top: 2rem;
}

.rm-container {
    padding: 4rem 20rem;
}

.rm-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.rm-items img {
    padding: 1rem 0;
}

.rm-aside {
    padding: 1rem 3rem;
    width: 400px;
}

.rm-main {
    padding: 1rem;
}


.label {
    display: flex;
    justify-content: center;
    padding: 4rem 0 0rem 0;
}

.services-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem 0;
    padding: 5rem 20rem;
    align-items: center;
    justify-content: center;
    width: 71%;
}

.services-card {
    border: 1px solid var(--color-border-gray);
/*    padding: 1rem 0;*/
    max-width: 370px;

}

.services-card-info {
    padding: 1rem 2rem;
}

.paging-container {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 1rem;
    font-size: 18px;
    padding-bottom: 3rem;
    font-weight: 500;
}

.paging {
    padding: 5px 14px;
    border-radius: 25px;
    border: 1px solid var(--color-border-gray);
}

.callback-section {
    padding: 6rem 20rem 0rem 20rem;
}

.callback-container {
    width: 100%;
/*    margin-left: auto;
    margin-right: auto;*/
    display: flex;
    gap: 4rem;
   
}

.callback-about-container {
    display: flex;
    flex-direction: column;
    width: 59%;
    padding-bottom: 10rem;
}

.callback-about-info h2 {
    font-size: 40px;
    padding: 0 0 2rem 0;
}

.callback-about-info h4 {
    font-size: 20px;
    padding: 0 0 1rem 0;
}

.callback-about-info img {
    max-width: 20%;
    padding-top: 1.5rem;
}

.callback-widget-container {
    display: flex;
    flex-direction: column;
    width: 41%;
    height: 37rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    margin-top: -11rem;
    z-index: 99;
}

.callback-widget {
    background-color: var(--color-main);
    font-size: 30px;
    padding: 1.5rem 2rem;
}

.callback-widget-desc {
    font-size: 13px; 
    font-style: italic;
    padding: 1.5rem 2rem;
}


.form-container {
    display: flex;
    flex-direction: column;
/*    justify-content: center;
    align-items: center;*/
    gap: 1rem;
    max-width: 80%;
    padding: 0 2rem;
}

.form-input input {
    width: 100%;
    padding: 1rem 1rem;
    border: 2px solid rgb(0 0 0 / 0.1);
    border-radius: 4px;
    outline: none;
    background-color: var(--color-white);
    font-size: 13px;
    font-style: italic;
    color: var(--color-note-1);
}

.form-input select {
    width: 109%;
    padding: 1rem 1rem;
    border: 2px solid rgb(0 0 0 / 0.1);
    border-radius: 4px;
    outline: none;
    background-color: var(--color-white);
    font-size: 13px;
    color: var(--color-text-body);
}

.callback-btn {
    background-color: var(--color-sub-1);
    color: var(--color-main);
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    width: 109%;
    padding: 1rem 0;
    border-radius: 6px;
}




.hero-container {
    position: relative;
    padding: 5rem 0 8rem 0;
}

.hero-img-container {
    position: absolute;
    inset: 0;
}

.hero-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-info-container {
    padding: 1rem 20rem;
    z-index: 99;
    margin: auto;
    position: relative;
}

.hero-info {
    width: 42%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-title {
    line-height: 1;
}

.hero-btn {
    background-color: var(--color-main);
    width: 8.5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 2rem;
    border-radius: 5px;
    font-size: 18px;
    
}

.trusted-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    background-color: var(--color-white);
    padding: 6rem 20rem 0 20rem;
    background-image: url('../images/trusted-bg.svg');
    background-size: 66%;
    background-repeat: no-repeat;
    background-position: center 36%;
    max-width: 100%;
}

.trusted-text {
    padding: 3rem 15rem;
}

.btn-2-container {
    padding: 1rem 0 4rem 34rem;
}

.btn-2 {
    background-color: var(--color-main);
    justify-content: center;
    align-items: center;
    padding: 1rem 2.5rem;
    border-radius: 5px;
}

.trusted-img-container {
    padding: 2rem 0 0 0;
    margin-top: auto;
}

.trusted-img {
    width: 100%;
    display: block;
}

.success-section {
    padding: 0 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/success-bg-image.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center 30%;
    position: relative;
    overflow: visible;
}

.success-numbers-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 28rem;
}

.success-numbers {
    font-size: 100px;
    font-weight: 600;
}

.success-numbers-text {
    font-weight: 600;
}

.success-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -20%;
    position: absolute;
    z-index: 2;
}

.partners {
    padding-top: 8rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    width: 100%;
}

.footer-container {
    background-color: var(--color-footer-black);
}

.footer-wrapper {
    padding: 1rem 0rem 1rem 21rem;
    display: flex;
    gap: 0.3rem;
}

