@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    text-decoration: none;
    padding: 0rem;
    margin: 0;
}

:root {
    --color-white: #ffffff;
    --color-main: #4F5955;
    --color-sub-3: #D9C3A9;
    --color-sub-1: #F2EDDC;
    --color-text-body: #535656;
    --color-note-1: #9C9EA6;
    --color-white-100: #F7F7F7;
    --color-footer-black: #0E0E0E;
    --color-border-gray: #EAEAEA;
    --color-gray-400: #4B5264;
    --color-star: #333333;
    --color-gray-600: #2D303A;
    --color-dimmed-border: #ffffff19;

}

/*---Richtext Start---*/

.text-white {
    color: #ffffff;
}

.text-main {
    color: #4F5955;
}

.text-sub-3 {
    color: #D9C3A9;
}

.text-sub-1 {
    color: #F2EDDC;
}

.text-body {
    color: #535656;
}

.text-note-1 {
    color: #9C9EA6;
}

.text-white-100 {
    color: #F7F7F7;
}

.text-footer-black {
    color: #0E0E0E;
}

.text-border-gray {
    color: #EAEAEA;
}

.text-gray-400 {
    color: #4B5264;
}

.text-star {
    color: #333333;
}

.text-gray-600 {
    color: #2D303A;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-bold {
    font-weight: 700;
}

.text-rte-xl {
    font-size: 4.375rem;
}

.text-rte-l {
    font-size: 2.5rem;
}

.text-rte-m {
    font-size: 1.25rem;     
}

.text-rte-s {
    font-size: 1rem;
}

.text-rte-xs {
    font-size: 0.875rem;
}

.rte-ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-top: 1rem;
    display: list-item;
    overflow: hidden;
}

.rte-ul li {
    margin-bottom: 0.25rem;
}

.rte-ul li::marker {
    color: var(--color-sub-3);
}


/*---Richtext End---*/

/*li {
    list-style-position: outside;
    overflow: hidden;
}*/

.pt-1 {
    padding-top: 2rem;
}

p img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*text-rte-m img {
    width: 100%;
    height: auto;
    object-fit: cover;
}*/

ul {
   list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;  
}

h3 {
    font-size: 2.5rem;
    color: var(--color-main);
    font-weight: 700;
}

.body-text p {
    color: var(--color-text-body);
    font-size: 14px;
    font-weight: 400;
}

.topbar-container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 0 16rem 0 18rem;
    background-color: var(--color-main);
}

.topbar-icon-container {
    display: flex;
}

.topbar-icon {
    display: flex;
    justify-items: center;
    align-items: center;
    border-left: 1px solid var(--color-dimmed-border);
    padding: 1rem 1rem;
    border-right: 1px solid var(--color-dimmed-border);
    height: 100%;
}

.header-items-container {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 6rem;
    overflow: hidden;
    list-style: none;
    padding: 1.5rem 0;
}

.header-items-container li.current .header-items {
    color: var(--color-sub-3);
}

.header-items {
    color: var(--color-main);
    transition: color 0.3s ease;
    
}

.header-items:hover {
    color: var(--color-sub-3);
    
}

.header-dimensions {
    display: grid;
    grid-template-columns: 1fr 2fr auto;
    align-items: center;
    padding: 0 16rem 0 18rem;
    
}

.page-banner {
    background-color: var(--color-white-100);
    background-repeat: no-repeat;
    padding: 3rem 3rem 5rem 3rem;
    background-image: url('../images/Rectangle-Left.svg'), url('../images/Rectangle-Right.svg');
    background-position: left bottom, top right;
}

.page-banner-container-t {
    margin-inline: auto;  
}

.banner-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-main);
    
}

.breadcrumb-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0 0;
    
}

.breadcrumb {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
}

.breadcrumb-text-1 {
    font-size: 14px;
    color: var(--color-main);
}

.breadcrumb-active {
    color: var(--color-sub-3);
}

.breadcrumb-text-container {
    display: flex;
    gap: 1rem; 
}

.content-border {
    border-left: 1px solid var(--color-border-gray);
    padding: 0 1rem;
    margin-top: 2rem;
}

.rm-container {
    padding: 4rem 15rem;
}

.rm-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rm-aside {
    padding: 1rem 3rem;
    width: 400px;
}

.rm-main {
    padding: 1rem;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 0rem;
    padding: 5rem 19rem;
}

.services-card {
    border: 1px solid var(--color-border-gray);
/*    padding: 1rem 0;*/
    max-width: 370px;

}

.services-card-info {
    padding: 1rem 2rem;
}

.paging-container {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 1rem;
    font-size: 18px;
    padding-bottom: 3rem;
    font-weight: 500;
}

.paging {
    padding: 5px 14px;
    border-radius: 25px;
    border: 1px solid var(--color-border-gray);
}

.paging:hover {
    
}