@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.AboutSection)Model.Content;
}

<section class="about-section">
    <div>

        @if (content.AboutImage != null)
        {
            <img src="@content.AboutImage.Url()" />
        }
            
        <p class="image-caption text-body">@content.AboutImageCaption</p>
    </div>
    <div>
        @content.AboutText
    </div>
</section>