@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.InfoCard)Model.Content;
}

<div>
    <h2 class="text-main">@content.InfoTitle</h2>
    <img src="@(content.InfoImage?.Url() ?? "~/images/service-statistic.svg")" />
    <p class="text-body">@content.InfoText</p>
</div>