@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.TeamMember)Model.Content;
}

<div class="team-member">
    @if (content.TeamMemberImage != null)
    {
        <img class="team-member-image" src="@content.TeamMemberImage.Url()" alt="@content.TeamMemberName" />
    }
    <div class="team-member-info">
        <h4 class="team-member-name text-main">@content.TeamMemberName</h4>
        <p class="team-member-role text-note-1">@content.TeamMemberRole</p>
    </div>
</div>