<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2a326271-904b-4886-b1bc-6f9d5838d991" Alias="Contact Section - Contact Items - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Contact Section - Contact Items - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d3b6f752-2b79-4acc-ab03-ef3f4918747b"
    }
  ]
}]]></Config>
</DataType>