<?xml version="1.0" encoding="utf-8"?>
<DataType Key="089e2e41-7971-42aa-83c8-bb5a66afd05e" Alias="Email Widget" Level="1">
  <Info>
    <Name>Email Widget</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EmailAddress</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "email"
}]]></Config>
</DataType>