<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8233517a-fe74-4571-963f-d37b0694a35b" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cbb94c1f-4f65-490f-900c-bf7860058ca0"
    },
    {
      "contentElementTypeKey": "3a8e28dc-8991-48cc-b7f6-82337904796e",
      "settingsElementTypeKey": "b61b8436-8cc6-43d6-8a24-adb9d7fc0f70"
    },
    {
      "contentElementTypeKey": "c91add00-fe24-49f9-b067-60d0cd6ffdc3"
    },
    {
      "contentElementTypeKey": "da58cd00-727d-4eb0-8735-be94bba525ef"
    },
    {
      "contentElementTypeKey": "f4c59463-5380-47e1-8a75-279edf406be7"
    },
    {
      "contentElementTypeKey": "a813c1a3-48c2-4765-82c4-6a75d784e2c9",
      "settingsElementTypeKey": "870947af-c00d-43a8-9eb6-896373a307e8"
    },
    {
      "contentElementTypeKey": "fa35e928-a270-44f9-b8ee-3ea5612b625c"
    },
    {
      "contentElementTypeKey": "62bcb1f7-8513-4d6b-96ae-619dfad2016f"
    },
    {
      "contentElementTypeKey": "673483d0-22dc-48bc-a7db-3f2cab65992c",
      "settingsElementTypeKey": "391a11d7-c021-4ae5-a315-e9a0d9fc4ec7"
    },
    {
      "contentElementTypeKey": "68947581-7e06-4cef-9a85-8b9cc2366a45",
      "settingsElementTypeKey": "338b3ce4-84b9-41ec-a68b-ac62e0d0bea7"
    },
    {
      "contentElementTypeKey": "6f80577c-8a3f-4e63-975f-ed10a75a60fb"
    },
    {
      "contentElementTypeKey": "834a2293-e3e8-4bad-ae7c-421af2838671"
    }
  ]
}]]></Config>
</DataType>