<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1a910a5-a996-4df9-a0b6-e1c1b8de72ed" Alias="Partners List" Level="1">
  <Info>
    <Name>Partners List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e0cf1ac4-4e45-4bde-a167-4ef141fb31a5"
    }
  ]
}]]></Config>
</DataType>