<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e3469f14-3e9c-4c82-9fff-a4a3b3ddb8be" Alias="Platform List" Level="1">
  <Info>
    <Name>Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7094c9b1-4d10-432e-a991-92138b9ce6df",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>