<?xml version="1.0" encoding="utf-8"?>
<DataType Key="38a469c0-47f4-493f-ba6a-f5d5d38949ec" Alias="Service Details Asides - List" Level="1">
  <Info>
    <Name>Service Details Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "78cb9483-5c71-4419-b021-cb8201df0409"
    },
    {
      "contentElementTypeKey": "f2dd0b96-030c-409d-8262-a7b7250fe1f8"
    }
  ]
}]]></Config>
</DataType>