<?xml version="1.0" encoding="utf-8"?>
<DataType Key="92ab3f0e-9b0b-4e5a-84c6-8aed2cd4e059" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "16b41f40-b4c9-418f-9063-906083afda02",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>