<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="527d8eb5-95fc-4939-80f1-6e12babc0e47" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>homePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07f3b75d-3272-4619-a164-c08506ee0f20">homePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="014a8741-2607-44ec-96b9-43f5a5107c5c" SortOrder="0">contactPage</ContentType>
    <ContentType Key="d67f45b5-16ce-4239-b78c-1a3fbd52edd8" SortOrder="1">servicePage</ContentType>
    <ContentType Key="c1449904-a9c1-4d2e-b73a-2a04c5759e38" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2f65a143-91d9-443e-a049-cfa79de5a3fe</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>8233517a-fe74-4571-963f-d37b0694a35b</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>efaca838-5c74-441d-991a-4e64cd2f324f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>