@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ServiceDetail>
@{
	Layout = "mainLayout.cshtml";
}

<partial name="Partials/Layout/_PageHeader" model="(IPageHeader)Model"></>

<section>
	<div class="rm-container">
		<div class="rm-items">
			<aside class="rm-aside body-text">
				@Html.GetBlockListHtml(Model.ServiceDetailsAsides)
			</aside>
			
			<div class="content-border">

			</div>
			<div class="rm-main">
				<div>@Html.Raw(Model.ServiceDetailBody)</div>
			</div>

		</div>
	</div>
</section>

@Html.GetBlockListHtml(Model.Sections)